/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,500&display=swap');


*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*========================top section part start===================
================================================================  */

/* link button start */

  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #10437A;
    border: 2px solid red;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 1s;
  }
  .fa-solid{
    padding-left: 8px;
  }
  a span  {
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #10437A;
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }
/* link button end */


#top-section{
    background-color: #2D25A0;
    Width:100%;
    Height:677px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left-banner{
    Width:485px;
    Height:230px;
    margin-top:207px;
    margin-left:156px;
    color: #fff;
}
.left-banner h1{
    font-size:64px;
    font-weight: 700;
    margin-bottom: 27px;
}
.banner-img img{
    Width:556.01px;
    Height:438px;
    margin-top:153px;
    margin-bottom: 86px;
}
.link-btn{
    background-color:#E02C6D;
    color:white;
    padding: 10px 24px;
    margin-top: 27px;

}
/* ====================top section part end========================= */

/* ===========================================
            Images gallery section part start
================================================*/
.img-gallery img{
    width: 250px;
    height:200px;

}
#container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    grid-gap: 30px;
}
.images{
    box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
   border-radius: 10px;
}
.images:hover{
    background-color: #fff;
}
.title-name h3{
    font-weight: 700;
    font-size:28px;
}
.detail p{
    margin-top:10px;
    font-size: 16px;
}

/* ===========================================
            Images gallery section part end
================================================*/


/* GREATEST LEAGUE MATCH START */
#next-match{
  background-image: url("images/photo/fifa.jpg");
  width:500px;
  height:auto;
  background-size: cover;
  margin-bottom: 100px;
  
}
.wolves-title{
  text-align: center;
  /* margin-top:30px; */
  padding: 20px 5px 0;
  
}
.wolve{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top:100px;
  margin-left: 30px;
}
.img-wolves img{
  width:70px;
  height:70px;
}
.watch-more{
  background-color:#E02C6D;
  color:white;
  padding: 10px 24px;
  margin-left: 179px;
  border-radius:5px;
  cursor: pointer;
}
.watch-more:hover{
  background-color: #2D25A0;
}
.text{
  color: #fff;
}
.container-2{
    display:grid;
    height:100%;
    grid-template-columns: repeat(2,1fr);
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 40px;
    
}
/* latest-matches */
.latest-matches{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  margin-top:10px;
}
.img-part-gallery img{
  width:70px;
  height:70px;
}
.btn{
  background-color: black;
  color:white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}
hr{
  border: 1px solid #E02C6D ;
  /* position: absolute; */
  /* display: none; */
  margin-top: 10px;
  
}
hr:hover{
  background-color: #2D25A0;
  /* display: block; */
  /* border: 5px solid #E02C6D ; */
  
}

footer{
  /* width: 483px;
  height: 213px;
  Top:374px;
  Left:475px; */
  display: block;
  width: 20%;
  margin: 0 auto;
}
footer > img {
  width: 70%;
}
.fotter-img{

  text-align: center;

}

/* .social-img{
  width:227px;
  height:67px;
} */
.img1{
  height: 17.042972564697266px;
  width: 17.066667556762695px;
  left: 7.466667175292969px;
  top: 7.4666748046875px;
  border-radius: 0px;
  

}
.img2{
  height: 17.042972564697266px;
width: 17.066667556762695px;
left: 7.466667175292969px;
top: 7.4666748046875px;
border-radius: 0px;

}
.img3{
  height: 12.800000190734863px;
  width: 15.489017486572266px;
  left: 8px;
  top: 9.600006103515625px;
  border-radius: 0px;
  

}
.img4{
  height: 17.266666412353516px;
  width: 17.066667556762695px;
  left: 7.4666748046875px;
  top: 10.13336181640625px;
  border-radius: 0px;

}
/* media query */
/* Mobile device============================= */
@media only screen and (max-width:688px) {
  #top-section{
    grid-template-columns: repeat(1,1fr);
    height:100%;
  }
  .banner-img img{
    width:329px;
    height: 259px;
    margin-top:50px;
    margin-left: 150px;
  }
  .left-banner h1{
    font-size: 30px;
    /* margin-right: 100px; */
  }
  .wrapper a{
    padding:5px;
  }
  /* second part */
  #container{
    grid-template-columns: repeat(1,1fr);
  }
  .container-2{
    grid-template-columns: repeat(1,1fr);
  }
  #next-match{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    height: 400px;
  }
.watch-more {
  background-color: #E02C6D;
  color: white;
  /* padding: 10px 10px; */
  margin:0px 100px;
  /* padding-bottom: 20px; */
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 12px; */
}
.watch-more button{
  font-size: 10px;
}
}




@media (min-width: 992px)and (max-width:689px){

}
